
body {
    margin: 0;
    font-family: monospace;
}
body > * {
    padding: 20px 15% 80px 15%;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 50px;
    margin-right: 40px;
    border-radius: 6%;
}
.header-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    font-size: 18px;

}

.header-list a {
    text-decoration: none;
    color: #E5E7EB;
  
} 

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;

}
.hero-left .h1-subtext {
    font-size: 18px;
    color: #E5E7EB;

}
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
 
img.hero-right  {
    width: 600px;
    border-radius: 50%;
}