
body {
    margin: 0;
    font-family: monospace;
}
body > * {
    padding: 20px 15% 80px 15%;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 50px;
    margin-right: 40px;
}
.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
}
.header-links a {
    color: #E5E7EB;
} 

.header a {
    text-decoration: none;
}
h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;

}
.hero-left .h1-subtext {
    font-size: 18px;
    color: #E5E7EB;

}
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.hero-left {
}
.hero-right {
    width: 600px;
}